.header__watch-online-circle {
  height: 30vmax;
  width: 30vmax;
  background-color: #f9804b;
  border-radius: 50%;
  position: relative;
  top: 20px;
  left: calc(100vmax - 60vw);
}

.header__watch-online-text {
  color: white;
  font-size: 6vmax;
  font-weight: bold;
  line-height: 80%;
  position: relative;
  text-align: center;
  margin: 0;
  padding-top: 20%;
  padding-left: 20%;
}

.header__yellow-text {
  color: #fe2e;
}

.button__watch-online {
  position: relative;
  width: 298px;
  top: 10%;
  left: 30%;
}
.page-content {
  display: flex;
  justify-content: space-between;
  padding: 0 calc(50vw - 580px);
}

.page-content__how-it-works {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  gap: 5vw;
  justify-self: left;
}

.page-content__how-it-works-text {
  width: 465px;
}

.page-content__background-image {
  background-repeat: no-repeat;
}

.page-content__background-image_how-it-works {
  background-image: url("../../assets/fonts/page-content-how-it-works.svg");
  width: 609px;
  height: 403px;
}

.page-content__background-image_flower1 {
  background-image: url("../../assets/fonts/flower_foto1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 605px;
  min-height: 605px;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-content__choose-animal {
  border: 1px solid #f9804b;
  border-radius: 5px;
  padding: 0;
  margin: 20px 0;
  background: white;
}

.page-content__choose-animal figcaption {
  padding: 8px 16px 10px;
  font-size: 15px;
  line-height: 120%;
}

.page-content__choose-animal figcaption strong {
  font-size: 16px;
}

.page-content__choose-animal-herbivorous {
  background-image: url("../../assets/icons/banana.svg"),
    url("../../assets/icons/bamboo.svg");
  background-repeat: no-repeat;
  background-position: 97% 97%;
}

.page-content__choose-animal-carnivorous {
  background-image: url("../../assets/icons/fish.svg"),
    url("../../assets/icons/meat.svg");
  background-repeat: no-repeat;
  background-position: 97% 97%;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  flex-direction: row;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  padding: 0 calc(50vw - 580px);
}

.slide__prev,
.slide__next {
  position: absolute;
  top: calc(50% - 31px);
  width: 62px;
  height: 62px;
  background-color: #f9804b;
  border-radius: 50%;
}

.slider__arrow-right {
  right: calc(50vw - 662px);
  background-image: url("../../assets/icons/arrow_right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider__arrow-left {
  left: calc(50vw - 662px);
  background-image: url("../../assets/icons/arrow_left.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-content__choose-your-favourite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.page-content__choose-your-favourite::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 368px;
  height: 275px;
  display: block;
  background-image: url("../../assets/fonts/strelitzia.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.page-content__choose-your-favourite::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 440px;
  height: 460px;
  display: block;
  background-image: url("../../assets/fonts/palm_foto.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.button__choose-favourite {
  align-self: center;
  justify-content: center;
  padding: 0;
  margin: 94px 0;
}

@media screen and (min-width: 401px) and (max-width: 1600px) {
  .page-content__background-image_flower1 {
    display: none;
  }
  .page-content {
    padding: 100px calc(50vw - 580px);
  }
  .page-content__choose-animal {
    margin: 70px 0;
  }
  .slide__prev {
    left: calc(386px + (50vw - 580px));
  }
  .slide__next {
    right: calc(386px + (50vw - 580px));
  }
}

.page-content__pick-animal {
  background-image: linear-gradient(to bottom right, #febdab, #fed290);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pick-animal {
  background-color: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  height: 835px;
  margin: 80px calc(50vw - 580px);
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.pick-animal__description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.page-content__pick-animal h1 {
  text-align: center;
}

.pick-animal__description h1 {
  color: #fe9013;
}

.pick-animal__description a {
  text-decoration-color: #fe9013;
  color: black;
}

.pick-animal__steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.pick-animal__steps figure {
  margin: 0;
}

.pick-animal__steps figcaption {
  margin-top: 30px;
}

.pick-animal__step {
  width: 168px;
}

.pick-animal_button {
  background-color: #fe9013;
  align-self: center;
  justify-content: center;
  padding: 0;
  margin: 50px 0;
}

.pick-animal__how-it-works {
  display: flex;
  flex-direction: column;
}

.page-content__testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px calc(50vw - 580px);
}

.page-content__testimonials h1 {
  text-align: center;
}

.testimonials__progress-bar {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input[type="range"] {
  width: 599px;
  align-self: center;
  display: block;
  -webkit-appearance: none;
  background-color: white;
  height: 5px;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom right, #e0d8f0, #f3a9f8, #febdab) border-box;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #fe9013;
  width: 115px;
  height: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
​ input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #e74c3c;
}
input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.6);
}

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 22px;
}

.testimonial {
  flex-basis: 1 0 21%;
  flex-shrink: 0;
  width: 268px;
  height: 391px;
  border: 1px solid transparent;
  border-radius: 20px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom right, #e0d8f0, #f3a9f8, #febdab) border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
}

.testimonial figure {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial figure img {
  padding-right: 20px;
}

.testimonial p {
  font-size: 15px;
}
