body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.intro {
  height: 100vh;
}

.navigation-bar {
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.logo {
  margin: 15px;
  border-radius: 3px;
  width: 82px;
  position: relative;
}

.logo a {
  text-decoration: none;
}

.logo__text {
  border: 1px solid #fff;
  color: white;
  font-family: Roboto;
  text-align: center;
  font-size: 19px;
  line-height: 120%;
  background-image: url("logo_image.svg");
  background-repeat: no-repeat;
  background-position: bottom 20% left 8%;
}

.navigation-tabs__link {
  float: left;
  text-align: center;
  padding: 29px;
  color: white;
  font-family: Roboto;
  font-size: 16px;
}

a.navigation-tabs__link {
  text-decoration: none;
  color: white;
}

a.navigation-tabs__link:hover {
  color: #f9804b;
  background-color: rgba(255, 255, 255, 0.1);
}

.header__designed-by a {
  float: left;
  text-align: center;
  padding: 29px;
  color: white;
  font-family: Roboto;
  font-size: 16px;
}

.header__designed-by a {
  text-decoration: none;
  color: white;
}

.header__designed-by a:hover {
  color: #f9804b;
  background-color: rgba(255, 255, 255, 0.1);
}

.bear_change_name {
  height: 100vh;
  background-image: url("header__image.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  /* display: flex; 
  justify-content: center;
  align-content: center; */
}
.header__watch-online-circle {
  height: 400px;
  width: 400px;
  background-color: #f9804b;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 92px;
  left: 50%;
}

.header__watch-online-text {
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 86px;
  font-weight: bold;
  line-height: 80%;
}

.header__watch-online-button {
  color: white;
  background-color: #f9804b;
  margin-left: 40%;
  margin-top: 10%;
  font-family: Roboto;
  font-size: 16px;
  border: 0;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
}
