body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.intro {
  position: relative;
  min-height: 100vh;
}

.content {
  height: 300vh;
}

.navigation-bar {
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.logo {
  margin: 15px;
  width: 82px;
  position: relative;
}

.logo a {
  text-decoration: none;
}

.logo__text {
  border: 1px solid #fff;
  border-radius: 3px;
  color: white;
  font-family: Roboto;
  text-align: center;
  font-size: 19px;
  line-height: 120%;
  background-image: url("logo_image.svg");
  background-repeat: no-repeat;
  background-position: bottom 20% left 8%;
}

.navigation-tabs__link {
  float: left;
  text-align: center;
  padding: 29px;
  color: white;
  font-family: Roboto;
  font-size: 16px;
}

a.navigation-tabs__link {
  text-decoration: none;
  color: white;
}

a.navigation-tabs__link:hover {
  color: #f9804b;
  background-color: rgba(255, 255, 255, 0.1);
}

.header__designed-by a {
  float: left;
  text-align: center;
  padding: 29px;
  color: white;
  font-family: Roboto;
  font-size: 16px;
}

.header__designed-by a {
  text-decoration: none;
  color: white;
}

.header__designed-by a:hover {
  color: #f9804b;
  background-color: rgba(255, 255, 255, 0.1);
}

.bear_change_name {
  height: 100vh; /* calc(100vh-80px); */
  background-image: url("header__image.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

.header__watch-online-circle {
  height: 400px;
  width: 400px;
  background-color: #f9804b;
  border-radius: 50%;
  position: relative;
  top: 80px;
  left: 50%;
}

.header__watch-online-text {
  width: 30vw;
  color: white;
  font-family: Roboto;
  font-size: 5rem;
  font-weight: bold;
  line-height: 80%;
  position: relative;
  text-align: center;
  margin: 0;
  padding-top: 20%;
  padding-left: 20%;
}

.header__yellow-text {
  color: #fe2e;
}

.header__watch-online-button {
  color: white;
  background-color: #f9804b;
  font-family: Roboto;
  font-size: 16px;
  border: 0;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
  position: relative;
  top: 10%;
  left: 40%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 440px;
  background-color: black;
}

.footer__navigation-bar {
  background-color: black;
  height: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.footer__logo {
  flex-basis: 100%;
  margin: 15px;
}

.footer__logo a {
  text-decoration: none;
}

.footer__logo-text {
  border: 1px solid #fff;
  border-radius: 3px;
  color: white;
  font-family: Roboto;
  text-align: center;
  font-size: 19px;
  line-height: 120%;
  width: 82px;
  background-image: url("logo_image.svg");
  background-repeat: no-repeat;
  background-position: bottom 20% left 8%;
}

.footer__donate-button {
  color: white;
  background-color: #f9804b;
  font-family: Roboto;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 15px;
}
