body {
  margin: 0;
}

.header {
  display: block;
  height: 1vh;
  width: 100%;
  align-items: center;
}

.navigation-bar {
  background-color: black;
  height: 80px;
  width: 100%;
  padding-left: 23%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navigation-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  overflow: hidden;
  font-size: 1rem;
  font-family: Roboto;
}

.navigation-tabs__item {
  float: left;
  text-align: center;
  padding: 29px;
  color: white;
}

.navigation-tabs__item a {
  text-decoration: none;
  color: white;
}
.navigation-tabs__item a:hover {
  color: #f9804b;
}

.header__image {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.header__watch-online-circle {
  height: 465px;
  width: 465px;
  background-color: #f9804b;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 92px;
  left: 50%;
}
.header__watch-online-text {
  width: inherit;
  margin: 0;
  padding-top: 20%;
  padding-left: 25%;
  box-sizing: content-box;
  position: relative;
  text-align: center;
  color: white;
  font-family: Roboto;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 80%;
}

.logo {
  margin: 15px;
  border-radius: 3px;
  width: 82px;
  position: absolute;
  left: 14%;
  box-sizing: border-box;
}
.logo__image {
  position: absolute;
  top: 50%;
  left: 15%;
}
.logo__text {
  border: 1px solid #fff;
  color: white;
  font-family: Roboto;
  text-align: center;
  font-size: 1.2rem;
  line-height: 120%;
}

.header__designed-by {
  color: white;
  text-align: right;
  margin-right: 20%;
  font-family: Roboto;
  font-size: 1rem;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.header__designed-by a {
  color: white;
  text-decoration: none;
}
.header__designed-by a:hover {
  color: #f9804b;
}

.header__watch-online-button {
  color: white;
  background-color: #f9804b;
  position: relative;
  font-family: Roboto;
  font-size: 1rem;
  border: 0;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
}
